<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/stats">League of Legends Stats</a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/stats">Bar Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/stacked-bar-chart">Stacked Bar Chart</a>
      </li>
    </ul>
  </div>
</div>
